body {
  padding-top: 5em;
}

h1,
h2 {
  margin: 10px;
}

.heading {
  text-align: center;
}

.buttonContainer {
  margin-top: 2em;
  display: flex;
  flex:auto;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn {
  flex-basis: 10px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border: 2px solid black;
}

#announcer {
  text-align: center;
  font-weight: bold;
}